{% import 'LeaptBootstrapBundle::macros.html.twig' as bootstrap %}
<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
	<head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
		<title>{% block title %}{{ "admin"|trans({}, admin_translation_domain()) }}{% endblock %}</title>

        {% block stylesheets %}
            {% if app.environment == 'dev' %}
                <link rel="stylesheet" href="{{ asset('bundles/leaptadmin/build/styles/vendor.css') }}">
            {% else %}
                <link rel="stylesheet" href="{{ asset('bundles/leaptadmin/build/styles/vendor.min.css') }}">
            {% endif %}
        {% endblock stylesheets %}

        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}">
	</head>
	<body class="hold-transition skin-blue layout-top-nav">
        <div class="wrapper">
            {% block main_nav %}
                {{ render(controller('LeaptAdminBundle:Navigation:main')) }}
            {% endblock main_nav %}

            <div class="content-wrapper">
                <div class="container">
                    {% block alerts %}
                        {% include 'LeaptAdminBundle:Widget:alerts.html.twig' %}
                    {% endblock alerts %}

                    {% block body %}{% endblock body %}
                </div>
            </div>
        </div>

        <div class="modal fade" id="modal" style="display: none"></div>
        {% block javascripts %}
            <script type="text/javascript">
                var LEAPT_ADMIN_CONTENT_CHANGE_URL = '{{ path('leapt_admin_widget_content_changed') }}';
            </script>
            {% if app.environment == 'dev' %}
                <script type="text/javascript" src="{{ asset('bundles/leaptadmin/build/scripts/vendor.js') }}"></script>
                <script type="text/javascript" src="{{ asset('bundles/leaptadmin/vendor/ckeditor/ckeditor.js') }}"></script>
                <script type="text/javascript" src="{{ asset('bundles/leaptadmin/js/ckeditor.js') }}"></script>
                <script type="text/javascript" src="{{ asset('bundles/leaptcore/js/leapt-core.js') }}"></script>
                <script type="text/javascript" src="{{ asset('bundles/leaptcore/js/leapt-core.form.js') }}"></script>
                <script type="text/javascript" src="{{ asset('bundles/leaptbootstrap/js/leapt-bootstrap3.js') }}"></script>
                <script type="text/javascript" src="{{ asset('bundles/leaptadmin/build/scripts/admin.js') }}"></script>
            {% else %}
                <script type="text/javascript" src="{{ asset('bundles/leaptadmin/build/scripts/vendor.min.js') }}"></script>
                <script type="text/javascript" src="{{ asset('bundles/leaptadmin/vendor/ckeditor/ckeditor.js') }}"></script>
                <script type="text/javascript" src="{{ asset('bundles/leaptadmin/js/ckeditor.js') }}"></script>
                <script type="text/javascript" src="{{ asset('bundles/leaptcore/js/leapt-core.js') }}"></script>
                <script type="text/javascript" src="{{ asset('bundles/leaptcore/js/leapt-core.form.js') }}"></script>
                <script type="text/javascript" src="{{ asset('bundles/leaptbootstrap/js/leapt-bootstrap3.js') }}"></script>
                <script type="text/javascript" src="{{ asset('bundles/leaptadmin/build/scripts/admin.min.js') }}"></script>
            {% endif %}
        {% endblock %}
	</body>
</html>
