{% import 'LeaptBootstrapBundle::macros.html.twig' as bootstrap %}
<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{% block title %}{{ "admin"|trans({}, admin_translation_domain()) }}{% endblock %}</title>

        {# stylesheets block #}
        {% block stylesheets %}
            {% stylesheets
                'bundles/leaptadmin/vendor/bootstrap/less/bootstrap.less'
                'bundles/leaptadmin/less/main.less'
                'bundles/leaptadmin/vendor/bootstrap/less/responsive.less'
                filter="lessphp,cssrewrite"
                output='cache/assetic/css/leaptadmin.css'
            %}
                <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}
        {% endblock stylesheets %}

        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
	</head>
	<body>
        {% block main_nav %}
            {{ render(controller('LeaptAdminBundle:Navigation:main')) }}
        {% endblock main_nav %}
        <div class="container">
            {% block alerts %}
                {% include 'LeaptAdminBundle:Widget:alerts.html.twig' %}
            {% endblock alerts %}

            {% block body %}{% endblock body %}
        </div>
        <div class="modal fade" id="modal" style="display: none"></div>
        {% block javascripts %}
            <script type="text/javascript">
                var CKEDITOR_BASEPATH = '{{ app.request.basePath ~ '/bundles/leaptadmin/vendor/ckeditor/' }}';
                var LEAPT_ADMIN_CONTENT_CHANGE_URL = '{{ path('leapt_admin_widget_content_changed') }}';
            </script>
            {% javascripts
                'bundles/leaptadmin/vendor/jquery.js'
                'bundles/leaptadmin/vendor/underscore.js'
                'bundles/leaptadmin/vendor/backbone.js'
                'bundles/leaptcore/js/leapt-core.js'
                'bundles/leaptcore/js/leapt-core.form.js'
                'bundles/leaptadmin/vendor/bootstrap/js/bootstrap-affix.js'
                'bundles/leaptadmin/vendor/bootstrap/js/bootstrap-modal.js'
                'bundles/leaptadmin/vendor/bootstrap/js/bootstrap-tooltip.js'
                'bundles/leaptadmin/vendor/bootstrap/js/bootstrap-typeahead.js'
                'bundles/leaptadmin/vendor/bootstrap/js/bootstrap-dropdown.js'
                'bundles/leaptadmin/vendor/bootstrap/js/bootstrap-tab.js'
                'bundles/leaptadmin/js/all.js'
                'bundles/leaptbootstrap/js/leapt-bootstrap.js'
                'bundles/leaptadmin/vendor/ckeditor/ckeditor.js'
                'bundles/leaptadmin/vendor/autosize/jquery.autosize-min.js'
                'bundles/leaptadmin/vendor/jquery.ui.widget.js'
                'bundles/leaptadmin/vendor/jquery-file-upload/jquery.iframe-transport.js'
                'bundles/leaptadmin/vendor/jquery-file-upload/jquery.fileupload.js'
                'bundles/leaptadmin/js/all.js'
                'bundles/leaptadmin/js/ckeditor.js'
                'bundles/leaptadmin/js/leapt-admin.js'
                'bundles/leaptadmin/js/leapt-admin.ui.js'
                'bundles/leaptadmin/js/leapt-admin.form.js'
                output='cache/assetic/js/leaptadmin.js'
            %}
                <script type="text/javascript" src="{{ asset_url }}"></script>
            {% endjavascripts %}
        {% endblock %}
	</body>
</html>
