{% extends 'LeaptAdminBundle::base.html.twig' %}

{% form_theme form 'LeaptAdminBundle:Form:form_layout.html.twig' %}

{% set form_class = form_class|default('form_vertical') %}
{% set extra_form_classes = extra_form_classes|default([]) %}

{# body block #}
{% block body %}

    {# pageheader block - to be provided by child templates  #}
    {% block page_header %}
        <section class="content-header">
            <h1>{{ title }}</h1>
        </section>
    {% endblock page_header %}

    <section class="content">
        {# form_before block - to be provided by child templates  #}
        {% block form_before %}{% endblock form_before %}

        {# main block #}
        {% block form %}

            {{ form_start(form, { 'attr': {
                'method': 'POST',
                'action': form_action,
                'novalidate': 'novalidate',
                'data-admin': 'form-manager',
                'class': ([form_class]|merge(extra_form_classes))|join(' ')
            } }) }}

            {# formfields block #}
            {% block form_fields %}{% endblock form_fields %}
            {{ form_rest(form) }}

            {# formactions block #}
            {% block form_actions %}
                <p>
                    <button type="submit" name="saveMode" class="btn btn-primary" value="{{ constant('Leapt\\AdminBundle\\Admin\\ContentAdmin::SAVEMODE_NORMAL') }}">
                        <i class="fa fa-check"></i>
                        {{ "content.actions.save"|trans({}, 'LeaptAdminBundle') }}
                    </button>
                    <button type="submit" name="saveMode" class="btn btn-default" value="{{ constant('Leapt\\AdminBundle\\Admin\\ContentAdmin::SAVEMODE_CONTINUE') }}">
                        <i class="fa fa-pencil"></i>
                        {{ "content.actions.saveandcontinue"|trans({}, 'LeaptAdminBundle') }}
                    </button>
                    <a href="{{ admin_content_path(admin, 'index') }}" class="btn btn-default">
                        <i class="fa fa-arrow-left"></i>
                        {{ "content.actions.back"|trans({}, 'LeaptAdminBundle') }}
                    </a>
                </p>
            {% endblock form_actions %}

            {{ form_end(form) }}
        {% endblock form %}

        {# postform block - to be provided by child templates  #}
        {% block form_after %}{% endblock form_after %}
    </section>

{% endblock body %}
