{% extends "LeaptAdminBundle::base.html.twig" %}
{% import 'LeaptBootstrapBundle::macros.html.twig' as bootstrap %}

{# body block #}
{% block body %}

    {# pageheader block #}
    {% block pageheader %}
        <section class="content-header">
            <h1>{{ 'content.list.title'|trans({ '%content_name%': admin_label(admin, true) }, 'LeaptAdminBundle') }}</h1>
        </section>
    {% endblock pageheader %}

    <section class="content">
        {# above block #}
        {% block above %}{% endblock %}

        {# list block #}
        {% block list %}

            {% if datalist is empty %}
                {{ bootstrap.alert('content.list.empty'|trans({ '%content_name%': admin_label(admin) }, 'LeaptAdminBundle')) }}
            {% endif %}
            {{ datalist_widget(datalist) }}
            <hr />
        {% endblock list %}

        {# below block #}
        {% block below %}{% endblock %}

        {# actions block #}
        {% block actions %}
            <p>
                <a class="btn btn-primary" href="{{ admin_content_path(admin, 'create') }}">
                    <i class="fa fa-plus"></i>
                    {{ "content.actions.create"|trans({}, 'LeaptAdminBundle') }}
                </a>
            </p>
        {% endblock actions %}
    </section>

{% endblock body %}