{% import 'LeaptAdminBundle:Navigation:macros.html.twig' as macros %}

{# navigation block #}
{% block navigation %}

    <header class="main-header">
        <nav class="navbar navbar-static-top">
            <div class="container">
                <div class="navbar-header">
                    {# brand block #}
                    {% block brand %}
                        <a href="{{ path('leapt_admin_default_index') }}" class="navbar-brand">{{ 'admin'|trans({}, admin_translation_domain()) }}</a>
                    {% endblock brand %}
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
                        <i class="fa fa-bars"></i>
                    </button>
                </div>

                <div class="collapse navbar-collapse pull-left" id="navbar-collapse">
                    {# admins block #}
                    {% block admins %}
                        {% if is_granted('ROLE_ADMIN') %}
                            <ul class="nav navbar-nav">
                                {% for admin in admins %}
                                    {{ macros.menu_item(admin) }}
                                {% endfor %}
                            </ul>
                        {% endif %}
                    {% endblock admins %}
                </div>

                {# block context #}
                {% block context %}{% endblock context %}

                {# security #}
                {% block security %}
                    {% if is_granted('ROLE_ADMIN') %}
                        <div class="navbar-custom-menu">
                            <ul class="nav navbar-nav">
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                        <i class="fa fa-user"></i>
                                        <span class="hidden-xs">{{ app.user.username }}</span>
                                        <span class="caret"></span>
                                    </a>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a href="{{ path('leapt_admin_logout') }}">{{ 'security.logout'|trans({}, 'LeaptAdminBundle') }}</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    {% endif %}
                {% endblock security %}
            </div>
        </nav>
    </header>

{% endblock navigation %}