{% if form is defined %}
    <h2>{{ 'wysiwyg.upload.title'|trans({}, 'LeaptAdminBundle') }}</h2>
    <hr/>
    {{ form_start(form, { 'attr': {
        'method': 'POST',
        'action': path('leapt_admin_wysiwyg_browser', arguments),
        'class': 'well',
        'novalidate': 'novalidate'
    } }) }}
        <div class="row">
            <div class="col-xs-6 col-md-3">{{ form_widget(form.name, { 'attr': { 'class': 'form-control' } }) }}</div>
            <div class="col-xs-6 col-md-3">{{ form_widget(form.tags, { 'attr': { 'class': 'form-control' } }) }}</div>
            <div class="col-md-6">
                {{ form_widget(form.file, { 'attr': { 'style': 'display: inline;' } }) }}
                <button type="submit" class="btn btn-primary">{{ 'wysiwyg.upload.submit'|trans({}, 'LeaptAdminBundle') }}</button>
            </div>
        </div>
        {{ form_rest(form) }}
    {{ form_end(form) }}
{% endif %}

{% if url is defined %}
    <script type='text/javascript'>
        window.opener.CKEDITOR.tools.callFunction({{ arguments.CKEditorFuncNum}}, '{{ app.request.basePath ~ '/' ~ url }}', '{{ message|default('') }}');
        window.close();
    </script>
{% endif %}
