{% if form is defined %}
    <h2>{{ 'wysiwyg.upload.title'|trans({}, 'LeaptAdminBundle') }}</h2>
    <hr/>
    {{ form_start(form, { 'attr': {
        'method': 'POST',
        'action': path('leapt_admin_wysiwyg_browser', arguments),
        'class': 'well form-inline',
        'novalidate': 'novalidate'
    } }) }}
        {{ form_widget(form.name, { 'attr': { 'placeholder': 'wysiwyg.upload.placeholder.name'|trans({}, 'LeaptAdminBundle') } }) }}
        {{ form_widget(form.tags, { 'attr': { 'placeholder': 'wysiwyg.upload.placeholder.tags'|trans({}, 'LeaptAdminBundle') } }) }}
        {{ form_widget(form.file) }}
        <button type="submit" class="btn">{{ 'wysiwyg.upload.submit'|trans({}, 'LeaptAdminBundle') }}</button>
        {{ form_rest(form) }}
    {{ form_end(form) }}
{% endif %}

{% if url is defined %}
    <script type='text/javascript'>
        window.opener.CKEDITOR.tools.callFunction({{ arguments.CKEditorFuncNum}}, '{{ app.request.basePath ~ '/' ~ url }}', '{{ message|default('') }}');
        window.close();
    </script>
{% endif %}
